<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
  <a class="navbar-brand" href="#">Connor Hawes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/cv" routerLinkActive="active">Cv</a></li>
    </ul>
  </div>
</nav>
