<body>
  <div class="container">
    <h5 class="font-weight-light text-center mt-4 mb-0">Projects</h5>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/earth">Earthquake Data Visualisation</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/cube-wave">Cube Wave</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/black-hole">Black Hole</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/solar-system">Solar System</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/fluid-simulation">Fluid Simulation</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card">
          <div class="card-body">
            <a routerLink="/projects/pi-vis">Visualising Pi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
