<body>
  <div class="container">
    <h5 class="font-weight-light text-center mt-4 mb-0">Curriculum Vitae - <small class="text-muted"><a href="../../assets/files/main.pdf">Download</a></small></h5>
    <hr class="mt-2 mb-5">
    <h5 class="font-weight-light text-center mt-4 mb-0">Summary</h5>
    <p><strong class="font-weight-light text-center mt-4 mb-0"><u>Personal Statement</u></strong></p>
    <p>
      I am currently a software developer at a Warwick based network infrastructure provider called telent. I work in the R&D Agile software development team.
      My daily duties include developing software for various company contracts as well as internally used applications. The scope of this software ranges from
      government infrastructure asset management software to internal applications and asset monitoring pieces. I am the most junior member of the team at the
      time of writing however I attend to a consistent level of personal-professional development in hopes to continue on my career path.
    </p>
    <p><strong class="font-weight-light text-center mt-4 mb-0"><u>Skills</u></strong></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Skill</th>
          <th scope="col">Experience</th>
        </tr>
        <tr>
          <td>Python</td>
          <td>1 Year professional - 3 Years personal</td>
        </tr>
        <tr>
          <td>C#</td>
          <td>2 Years professional - 7 Years personal</td>
        </tr>
      </thead>
    </table>
  </div>
</body>
